
{% extends 'base.html' %}

{% block content %}


 
<h2 class="text-center m-3">👨‍⚕️ إدارة الأطباء</h2>

<form action="" method="POST" class="p-3">
    {% csrf_token %} 
  <input type="text" name="doctors_name" placeholder="اسم الطبيب" class="form-control mb-2" required>
  <input type="text" name="specialisation" placeholder="التخصص" class="form-control mb-2" required>
  <input type="text" name="phone" placeholder="الهاتف" class="form-control mb-2" required>
  <button type="submit" class="btn btn-success">إضافة</button>
</form>

<table class="table table-striped table-bordered mt-4 text-center">
  <thead class="thead-dark">
    <tr>
      <th>الاسم</th>
      <th>التخصص</th>
      <th>الهاتف</th>
      <th>التعديل أو الحذف</th>

    </tr>
  </thead>
  <tbody>
   {% for p in all_doctors %}
    <tr>
      <td>{{p.doctors_name}}</td>
      <td>{{p.specialisation}}</td>
      <td>{{p.phone}}</td>
      <td>  <a href="{% url 'update_doctor' p.id %}" class="btn btn-info  ">تعديل</a>
         <a href="{% url 'delete_item' 'doctor' p.id %}" class="btn btn-danger  ">حذف</a> </td>
    </tr>
     {% endfor%}
   
  </tbody>
</table>
<hr>
 

{% endblock %}