

<!--footer-->
<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <div class="row">
      <div class="col">
        <h5 class="text-uppercase">learn more</h5>
        <p>
          نظام إدارة العيادة هو منصة متكاملة لإدارة المرضى، المواعيد، الأطباء، والأدوية بسهولة وأمان.
        يتيح متابعة السجلات الطبية، إصدار التقارير، وتحسين كفاءة سير العمل داخل العيادة بطريقة احترافية .
        </p>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="font-size:18px">
    © 2026 Copyright:
    <a class="text-body" target="_blank" href="https://www.linkedin.com/in/محمد-النمراوي-b12a05388?utm_source=share_via&utm_content=profile&utm_medium=member_ios">Mohammad.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!--footer-->